/*     .ng-scope { border: 1px solid red; } */

    html{
      height: 100%;
    }
      
    body {
      padding-top: 60px;
      padding-bottom: 40px;
      overflow-y: scroll;
      height: 100%;
      margin: 0;
    }

    .modal.fade.in{
      top: 35%;
    }
    
    #comment_img {
      width: 50px;
    }
    
    .dropdown-menu {
      min-width: 270px;
    }
    
    footer {
      width: 97.5%;
      height: 16px;
      position: absolute;
      bottom: 0;
    }
    
    #group_permissions {
      width: 350px;
      height: 350px;
      overflow-y: scroll;
      padding-right: -75px;
    }
    
    /*LoadingDiv*/
    /*IE will need an 'adjustment'*/
    * html #LoadingDiv{
      position: absolute;
      height: expression(document.body.scrollHeight &gt; document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
    }
    
    * html #SketchCoverBarDiv{
      position: absolute;
      height: expression(document.body.scrollHeight &gt; document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
    }    
    
    * html #ViewCoverBarDiv{
      position: absolute;
      height: expression(document.body.scrollHeight &gt; document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
    }
    
    * html #ViewCoverDiv{
      position: absolute;
      height: expression(document.body.scrollHeight &gt; document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
    }
    
    .item{
      min-height: 300px;
    }
    
    #Loading {
      top: 50%;
      width: 200px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }

    #LoadingDiv{
      position: fixed;
      _position: absolute;
      z-index: 99;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      _height: expression(document.body.offsetHeight + "px");
      background-color: rgba(0, 0, 0, 0.8);
    }
    
    #main {
      overflow: hidden;
    }

    #mainbody{
      padding-bottom:16px;
    }
        
    #Message {
      top: 35%;
    }

    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
    
    .navbar-text{
      margin-bottom: 0;
      margin-top: -10px;
      line-height: 40px;
      color: #777;
    }
    
    .navbar-search{
      float: right;
      margin-top: 12px;
      margin-bottom: 0;
    }
    
    .navbar-search > .search-query {
      margin-top: -9px;
    }
    
    .navbar-search > .btn {
      margin-top: -9px;
    }

    #profile_img {
      position: relative;
      top: 0;
      left: 0;
      min-width: 100%;
    }
    
    #sketchDisplay {
      width: 150px;
      height: 100px;
      resize: none;
    }
    
    #sketchDescription {
      width: 300px;
      height: 100px;
      resize: none;
    }

    #SaveSketch{
      top: 10%;
      height: auto;
      width: auto;
    }
    
    #SaveSketch .well{			
      margin-bottom: 0px;  
    }
    
    #SaveSketch .modal-body{			
      overflow-y: hidden; 
    }	  	  

    #SaveAsSketch{
      top: 10%;
      height: auto;
      width: auto;
    }
    
    #SaveAsSketch .well{			
      margin-bottom: 0px;  
    }
    
    #SaveAsSketch .modal-body{	
      overflow-y: hidden; 
    }

/*     .search-query {
    
    } */
    
    .sidebar-nav {
      padding: 9px 0;
    }      
    .sidebar-nav-fixed {
      position:fixed;
      top:60px;
      width: 14.52991452991453%;
	  }

    
    #swfcontainer {
        width: 99%;
        margin-top: 5px;
        border: 2px solid #999;
        -webkit-border-radius: 5px; /* Safari/Chrome, other WebKit */
      -moz-border-radius: 5px;    /* Firefox, other Gecko */
      border-radius: 5px;   /* Opera/IE 8+ */ 
    }
    
    textarea {
      width: 100%;
      padding: 1px;
      border: 3px solid #999;
      /*display: none;*/
    }

    #title2 {
      display: none;
    }

    #ViewCoverBarDiv{
      position: absolute;
      z-index: 98;
      margin-top: 3px;
      width: 53.0%;
      height: 47px;
      _height: expression(document.body.offsetHeight + "px");
      background-color: rgba(238, 238, 238, 0.8);
    }
    
    #ViewCoverDiv{
      position: absolute;
      z-index: 99;
      margin-top: 3px;
      width: 53.0%;
      height: 340px;
      _height: expression(document.body.offsetHeight + "px");
      background-color: rgba(255, 255, 255, 0.01);
    }
    
    #visibleTextData { 
      /*display: none;*/
    }
    
    #wrap {
      min-height:100%;
      position:relative;
    }
    
    /*Responsive*/
    
    @media (min-width: 980px) {
      #logo {
        padding: 0px 20px 10px;
      }
    }
    
	  @media (max-width: 979px) {
      .sidebar-nav-fixed {
        top:70px;
      }
      #topbar {	      
        position:fixed;
        width:auto;
      }
      #main {
        overflow: hidden;
        padding-top:10px;
      }
      .navbar-text{
        margin-bottom: 0;
        margin-top: 0px;
        line-height: 40px;
        color: #777;
      }
      #mainbody{
        min-height:420px;
      }
    }
    
    @media (max-width: 767px) {
      .sidebar-nav-fixed {
        position:static;
        width:auto;
      }
      #topbar {
        padding-left: 20px;
        padding-right: 20px;
        position:fixed;
        width:auto;
      }
      #mainbody{
        min-height:360px;
      }
      
      #ViewCoverBarDiv {
        width: 93.3%
      }
      
      #ViewCoverDiv {
        width: 93.3%
      }
	  }	    
    
    @media (max-width: 520px) {
      #mainbody{
        padding-top: 50px;
      }
    }