<!DOCTYPE html>
<html ng-app="myApp" lang="en">
  <head>
    <meta charset="utf-8">
    <title>K-Sketch: The Kinetic Sketch Pad!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Google Analytics Code -->
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47832938-1', 'ksketchweb.appspot.com');
      ga('send', 'pageview');
    </script>
    
    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    
    <!-- Additional styles for individual components -->
    <link href="css/additional.css" rel="stylesheet">
    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
    
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="ico/favicon.png">
    
    <!-- Code for K-Sketch App Plugin -->
    <!-- Enable Browser History by replacing useBrowserHistory tokens with two hyphens -->
    
    <!-- BEGIN Browser History required section -->
    <link rel="stylesheet" type="text/css" href="history/history.css" />
    <script type="text/javascript" src="history/history.js"></script>
    <!-- END Browser History required section -->  
    
    <script type="text/javascript" src="swf/swfobject.js"></script>
    
    <script type="text/javascript" src="js/janrain/janrain_widget.js"></script>
    <script type="text/javascript" src="js/common/notification.js"></script>
    
  </head>
  
  <!-- body id="ksketchapp" ng-controller="LoginController" scrolling="no" -->
  <body ng-controller="IndexController" id="ksketchapp"  scrolling="no">
    <!-- Loading -->      
    <div id="LoadingDiv" ui-if="waiting!='Ready'"></div>
    <div class="modal" id="Loading" ui-if="waiting=='Loading'">
      <div class="modal-body">
        <span>Loading........</span>
      </div>
    </div>
    <div class="modal" id="Loading" ui-if="waiting=='Saving'" ng-cloak>
      <div class="modal-body">
        <span>Saving........</span>
      </div>
    </div>
    <div class="modal" id="Message" ui-if="waiting=='Error'" ng-cloak>
      <div class="modal-body">
        <div class="modal-header">
          <input type="submit" class="close" value="x" data-dismiss="modal" ng-click="acknowledge()"/>
          <h3 id="myUploadItems">{{heading}}</h3>
        </div>
        <br/>
        <div class="control-group">
          <div class="control-label">
            <span style="text-align:center">{{message}}</span>
            <br/>
            <br/>
            <span style="text-align:center">{{submessage}}</span>
            <br/>
            <br/>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <input type="submit"  ng-click="acknowledge()" value="Ok" data-dismiss="modal"/>
      </div>
    </div>        

    
    <!-- Top Bar -->
    <div id="topbar" class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid" ng-show="waiting=='Ready'" ng-cloak>
          <!-- a class="brand" id="logo" href="#"><img style="height:36px" src="ico/KSketch-logo.png"></a -->
          <a class="brand" id="logo" href=" index.html">K-Sketch</a>
          <ul class="nav" ng-cloak>
            <li>
              <!--Username and profile link goes here.-->
              <a ng-show="User.u_login" ng-cloak href="profile.html?id={{User.id}}" class="navbar-link">
                <span id="heading">
                  Hello, {{User.u_name}}
                  <span ui-if="User.u_isadmin"> (Admin)</span>
                  !
                </span>
              </a>
              <a ng-hide="User.u_login" ng-cloak id="heading" disabled>Hello, {{User.u_name}}!</a>
            </li>
            <li ng-hide="User.u_login" ng-cloak>
              <a class="janrainEngage" href="#">Sign-In</a>
            </li>
            <li ng-show="User.u_login" ng-cloak>
              <a href="/user/logout">Logout</a>
            </li>          
            <li class="dropdown"  ui-if="User.u_login">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="{{notify}}">
                <i ng-class="notify_icon"></i>
<!--                 <b class="caret"></b> -->
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a ui-if="!notifications.entities.length">
                  <span>You have no new notifications.</span>
                  </a>
                  <table class="table table-striped" ui-if="!!notifications.entities.length">
                    <tr ng-repeat="notification in notifications.entities |  limitTo:3">
                      <td>
                        <span>{{notification.n_date}}</span>
                      </td>
                      <td>
                        <span>{{notification.n_message}}</span>
                      </td>
                      <td ui-if="notification.n_type == 'GROUPINVITE'">
                        <ul>
                          <a class="btn btn-small" onClick="notifyAccept({{notification.id}},{{notification.n_relevant}})">Accept</a>
                        </ul>
                        <ul>
                          <a class="btn btn-small" onClick="notifyReject({{notification.id}},{{notification.n_relevant}})">Reject</a>
                        </ul>
                      </td>
                    </tr>
                  </table>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="notifications.html">
                    Show All Notifications
                  </a>
                </li>      
              </ul>                            
            </li>
          </ul>         
          <p class="navbar-search pull-right">
            <input type="text" ng-model="search" onkeypress="searchKeyPress(event);" class="search-query" placeholder="Search by sketch name or owner">
            <input type="submit" id="searchbutton" class="btn btn-inverse btn-small" ng-click="simpleSearch()" value=">>">
            <script>
              function searchKeyPress(e)
              {
                  // look for window.event in case event isn't passed in
                  if (typeof e == 'undefined' && window.event) { e = window.event; }
                  if (e.keyCode == 13)
                  {
                      document.getElementById('searchbutton').click();
                  }
              }
            </script>
          </p>
        </div>
      </div>
    </div>
    
    <!-- Main Body -->
    <div class="container-fluid" id="wrap">
        
      <div class="row-fluid" id="mainbody">
        
        <!-- Navigation Sidebar (Access separate panes). -->
        <div class="span2">
          <div class="well sidebar-nav sidebar-nav-fixed">
            <ul class="nav nav-list">
              <!--This changes depending on current logged-in status.-->
              
              
              <li id="sc" ng-show="User.u_login" ng-cloak><a title="View personal profile, sketches and group memberships" href="profile.html?id={{User.id}}">My Sketchbook</a></li>
              <li id="cs"><a title="Open editor to create a new sketch" href="sketch.html">Create a Sketch</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        
        <!-- Main Body -->
        <div class="span10">
          <span id="testdiv" ng-model="test" hidden></span>        
          <div class="hero-unit">
            <p><h2>Getting Help</h2></p>
            <p>If you need help with K-Sketch, try the following (in this order):</p>
            <ol>
              <li>Watch the <a href="#quickstartvideos">Quick Start Videos</a>.</li>
              <li>Look for your question in the <a href="faq.html">Frequently Asked Questions</a>.</li>
              <li>Ask a question in the <a href="https://groups.google.com/forum/#!forum/k-sketch-users">K-Sketch Users</a> group.</li>
              <li>Send an e-mail to <a href="mailto:ksketch@smu.edu.sg">ksketch@smu.edu.sg</a>.</li>
            </ol>
            <br/>

            <p><h2><a class="none" id="quickstartvideos" onclick="return false;">Quick Start Videos</a></h2></p>
            <br/>
            <table>
              <tr>
                <td align="center" width="20%">
                  <a href="http://www.youtube.com/watch?v=5LO7hiHXy2Y&list=PL3QzgKRkD6WExXWVBH_-BhhCXt3Jsz6ry"><img src="img/help/img_quickstart_1.jpg"/></a>
                </td>
                <td width="5%"></td>
                <td style="padding-top:20px" width="75%">
                  <h4>Quick Start 1: Basic Animation</h4>
                  • Select and move things<br/>
                  • Perform animations<br/>
                  • Adjust motions<br/>
                  • Make things appear and disappear
                </td>
              </tr>

              <tr><td height="30px"></td></tr>
              
              <tr>
                <td align="center" >
                  <a href="http://www.youtube.com/watch?v=ZUGywEUjpLk&list=PL3QzgKRkD6WExXWVBH_-BhhCXt3Jsz6ry&index=2"><img src="img/help/img_quickstart_2.jpg"/></a>
                </td>
                <td></td>
                <td>
                  <h4>Quick Start 2: Overlapping Motions</h4>
                  • Make two things move at the same time<br/>
                  • Move and spin at the same time<br/>
                  • Overwrite old motions
                </td>
              </tr>

              <tr><td height="30px"></td></tr>
              
              <tr>
                <td align="center" >
                  <a href="http://www.youtube.com/watch?v=PALkClW3Tp8&list=PL3QzgKRkD6WExXWVBH_-BhhCXt3Jsz6ry&index=3"><img src="img/help/img_quickstart_3.jpg"/></a>
                </td>
                <td></td>
                <td>
                  <h4>Quick Start 3: Using the Timeline</h4>
                  • Move, add, and remove timeline ticks<br/>
                  • Clear motions<br/>
                  • Navigate quickly between ticks and frames
                </td>
              </tr>

              <tr><td height="30px"></td></tr>
              
              <tr>
                <td align="center" >
                  <a href="http://www.youtube.com/watch?v=zp5gBtSbKns&list=PL3QzgKRkD6WExXWVBH_-BhhCXt3Jsz6ry&index=4"><img src="img/help/img_quickstart_4.jpg"/></a>
                </td>
                <td></td>
                <td>
                  <h4>Quick Start 4: Moving Parts</h4>
                  • Combine things that move<br/>
                  • Spin or resize part something<br/>
                  • Move part of something (break out of group)<br/>
                  • Change center for spin and resize
                </td>
              </tr>

              <tr><td height="30px"></td></tr>
              
              <tr>
                <td align="center" >
                  <a href=""><img src="img/help/img_quickstart_comingsoon.jpg"/></a>
                </td>
                <td></td>
                <td>
                  <h4>Quick Start 5: Sharing Animations</h4>
                  • Coming Soon 
                </td>
              </tr>

              <tr><td height="30px"></td></tr>
              
              <tr>
                <td align="center" >
                  <a href="http://www.youtube.com/watch?v=-YzgHKu7WAk&list=PL3QzgKRkD6WExXWVBH_-BhhCXt3Jsz6ry&index=6"><img src="img/help/img_quickstart_6.jpg"/></a>
                </td>
                <td></td>
                <td>
                  <h4>Quick Start 6: Key Frame Animation</h4>
                  • Pin to a position<br/>
                  • Make smooth and precise motions
                </td>
              </tr>

              <tr><td height="30px"></td></tr>
              
              <tr>
                <td align="center" >
                  <a href=""><img src="img/help/img_quickstart_comingsoon.jpg"/></a>
                </td>
                <td></td>
                <td>
                  <h4>Quick Start 7: Advanced Options</h4>
                  • Coming Soon 
                </td>
              </tr>

            </table>
            
          </div>
        </div><!--/span-->
        <div class="footer-table" ng-model="year">
          <img src="img/footer_logo_small.png"/><br/>
               Copyright &copy; {{year}} Singapore Management University. Developed under a grant from the Singapore-MIT GAMBIT Game Lab   <br/>
                <a href="about.html">About Us</a> &nbsp;&nbsp;|&nbsp; &nbsp;
                <a href="downloads.html">Downloads</a> &nbsp;&nbsp;|&nbsp; &nbsp;
                <a href="help.html">Help</a> &nbsp;&nbsp;|&nbsp; &nbsp;
                <a href="terms.html">Terms of Use</a> &nbsp;&nbsp;|&nbsp; &nbsp;
                <a href="policy.html">Privacy Policy</a>
        </div>
      </div><!--/row-->
    </div><!--/.fluid-container-->
    <!-- Le javascript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery/jquery.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="js/moment/moment.min.js"></script>
    <script src="lib/angular/angular-ui.min.js"></script>
    <script src="lib/angular/angular-resource.min.js"></script>
    <script src="js/angular/index-controller.js"></script>
    <script src="js/app.js"></script>
    <script src="js/bootbox/bootbox.min.js"></script>
    <script src="js/bootstrap/bootstrap-transition.js"></script>
    <script src="js/bootstrap/bootstrap-alert.js"></script>
    <script src="js/bootstrap/bootstrap-modal.js"></script>
    <script src="js/bootstrap/bootstrap-dropdown.js"></script>
    <script src="js/bootstrap/bootstrap-scrollspy.js"></script>
    <script src="js/bootstrap/bootstrap-tab.js"></script>
    <script src="js/bootstrap/bootstrap-tooltip.js"></script>
    <script src="js/bootstrap/bootstrap-popover.js"></script>
    <script src="js/bootstrap/bootstrap-button.js"></script>
    <script src="js/bootstrap/bootstrap-collapse.js"></script>
    <script src="js/bootstrap/bootstrap-carousel.js"></script>
    <script src="js/bootstrap/bootstrap-typeahead.js"></script>
    
  </body>
</html>