<!DOCTYPE html>
<html ng-app="myApp" lang="en">
  <head>
    <meta charset="utf-8">
    <title>K-Sketch: The Kinetic Sketch Pad!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Google Analytics Code -->
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40422359-1', 'k-sketch-test.appspot.com');
      ga('send', 'pageview');

    </script>    
    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    
    <!-- Additional styles for individual components -->
    <link href="css/additional.css" rel="stylesheet">
    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
    
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="ico/favicon.png">
    
    <!-- Code for K-Sketch App Plugin -->
    <!-- Enable Browser History by replacing useBrowserHistory tokens with two hyphens -->
    
    <!-- BEGIN Browser History required section -->
    <link rel="stylesheet" type="text/css" href="history/history.css" />
    <script type="text/javascript" src="history/history.js"></script>
    <!-- END Browser History required section -->  
    
    <script type="text/javascript" src="swf/swfobject.js"></script>
    
    <script type="text/javascript" src="js/janrain/janrain_widget.js"></script>
    <script type="text/javascript" src="js/common/notification.js"></script>
    
    <script type="text/javascript">
      function QueryString() {
        // This function is anonymous, is executed immediately and 
        // the return value is assigned to QueryString!
        var query_string = {};
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i=0;i<vars.length;i++) {
          var pair = vars[i].split("=");
            // If first entry with this name
          if (typeof query_string[pair[0]] === "undefined") {
            query_string[pair[0]] = pair[1];
            // If second entry with this name
          } else if (typeof query_string[pair[0]] === "string") {
            var arr = [ query_string[pair[0]], pair[1] ];
            query_string[pair[0]] = arr;
            // If third or later entry with this name
          } else {
            query_string[pair[0]].push(pair[1]);
          }
        }
        e = document.getElementById('testdiv');
        scope = angular.element(e).scope();
        if (query_string.id !== undefined && query_string.id !== "") {
          scope.$apply(function() {
              scope.setTest(query_string.id);
          });
        }
        scope.$apply(function() {
          scope.get_profile();
        });        
      }
    </script>    
    
    
    <script type="text/javascript">
      function delete_sketch(id) {
        if (parseInt(id) !== 'NaN') {
          e = document.getElementById('testdiv');
          scope = angular.element(e).scope();
          scope.$apply(function() {
              scope.delete_sketch(id);
          });
        }
      }
    </script>
  </head>
  
  <!-- body id="ksketchapp" ng-controller="LoginController" scrolling="no" -->
  <body ng-controller="ProfileController" id="ksketchapp"  scrolling="no" onload="QueryString()">

    <!-- Loading -->
    
    <div id="LoadingDiv" ui-if="waiting!='Ready'"></div>
    <div class="modal" id="Loading" ui-if="waiting=='Loading'">
      <div class="modal-body">
        <span>Loading........</span>
      </div>
    </div>
    <div class="modal" id="Loading" ui-if="waiting=='Saving'" ng-cloak>
      <div class="modal-body">
        <span>Saving........</span>
      </div>
    </div>
    <div class="modal" id="Loading" ui-if="waiting=='Deleting'" ng-cloak>
      <div class="modal-body">
        <span>Deleting........</span>
      </div>
    </div>
    <div class="modal" id="Message" ui-if="waiting=='Error'" ng-cloak>
      <div class="modal-body">
        <div class="modal-header">
          <input type="submit" class="close" value="x" data-dismiss="modal" ng-click="acknowledge()"/>
          <h3 id="myUploadItems">{{heading}}</h3>
        </div>
        <br/>
        <div class="control-group">
          <div class="control-label">
            <span style="text-align:center">{{message}}</span>
            <br/>
            <br/>
            <span style="text-align:center">{{submessage}}</span>
            <br/>
            <br/>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <input type="submit"  ng-click="acknowledge()" value="Ok" data-dismiss="modal"/>
      </div>
    </div>      
  
    <!-- Top Bar -->
    <div id="topbar" class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid" ng-show="waiting=='Ready'" ng-cloak>
          <!-- a class="brand" id="logo" href="#"><img style="height:36px" src="ico/KSketch-logo.png"></a -->
          <a class="brand" id="logo" href=" index.html">K-Sketch</a>
          <ul class="nav" ng-cloak>
            <li>
              <!--Username and profile link goes here.-->
              <a ng-show="User.u_login" ng-cloak href="profile.html?id={{User.id}}" class="navbar-link">
                <span id="heading">
                  Hello, {{User.u_name}}
                  <span ui-if="User.u_isadmin"> (Admin)</span>
                  !
                </span>
              </a>
              <a ng-hide="User.u_login" ng-cloak id="heading" disabled>Hello, {{User.u_name}}!</a>
            </li>          
            <li ng-hide="User.u_login" ng-cloak>
              <a class="janrainEngage" href="#">Sign-In</a>
            </li>
            <li ng-show="User.u_login" ng-cloak>
              <a href="/user/logout">Logout</a>
            </li>           
            <li class="dropdown"  ui-if="User.u_login">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="{{notify}}">
<!--                 <b class="caret"></b> -->
                <i ng-class="notify_icon"></i>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a ui-if="!notifications.entities.length">
                  <span>You have no new notifications.</span>
                  </a>
                  <table class="table table-striped" ui-if="!!notifications.entities.length">
                    <tr ng-repeat="notification in notifications.entities |  limitTo:3">
                      <td>
                        <span>{{notification.n_date}}</span>
                      </td>
                      <td>
                        <span>{{notification.n_message}}</span>
                      </td>
                      <td ui-if="notification.n_type == 'GROUPINVITE'">
                        <ul>
                          <a class="btn btn-small" onClick="notifyAccept({{notification.id}},{{notification.n_relevant}})">Accept</a>
                        </ul>
                        <ul>
                          <a class="btn btn-small" onClick="notifyReject({{notification.id}},{{notification.n_relevant}})">Reject</a>
                        </ul>
                      </td>
                    </tr>
                  </table>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="notifications.html">
                    Show All Notifications
                  </a>
                </li>      
              </ul>                          
            </li>
          </ul>          
          <p class="navbar-search pull-right">
            <input type="text" ng-model="search" onkeypress="searchKeyPress(event);" class="search-query" placeholder="Search by sketch name or owner">
            <input type="submit" id="searchbutton" class="btn btn-inverse btn-small" ng-click="simpleSearch()" value=">>">
            <script>
              function searchKeyPress(e)
              {
                  // look for window.event in case event isn't passed in
                  if (typeof e == 'undefined' && window.event) { e = window.event; }
                  if (e.keyCode == 13)
                  {
                      document.getElementById('searchbutton').click();
                  }
              }
            </script>
          </p>
        </div>
      </div>
    </div>
    
    
    
    <!-- Main Body -->
    <div class="container-fluid" id="wrap">
      <div class="row-fluid" id="mainbody">
        
        <!-- Navigation Sidebar (Access separate panes). -->
        <div class="span2">
          <div class="well sidebar-nav sidebar-nav-fixed">
            <ul class="nav nav-list">
              <!--This changes depending on current logged-in status.-->
              
              
              <li id="sc" class="active" ng-show="User.u_login" ui-if="belong" ng-cloak><a>My Sketchbook</a></li>
              <li id="sc" ng-show="User.u_login" ui-if="!belong" ng-cloak><a title="View personal profile, sketches and group memberships" href="profile.html?id={{User.id}}">My Sketchbook</a></li>
              <li id="cs"><a title="Open editor to create a new sketch" href="sketch.html">Create a Sketch</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        
        <!-- Main Body -->
        <div class="span10">   
          <!-- Stuff goes here. -->
          <!-- We have to think of a better name for this! -->
          <div class="row-fluid">
            <span id="testdiv" ng-model="test"></span>
            <!--div class="container-fluid" ng-hide="profile_user.u_login" ng-cloak id="guestSketchbook">
              <h3>You are not logged in!</h3>
              <h3>Please Login to K-Sketch in order to access this function!</h3>
            </div-->
            <div class="container-fluid" ng-show="profile_user.id" ng-cloak id="userSketchbook">
              <div class="row-fluid">
                <h2 ui-if="belong">About Me</h2>
                <h2 ui-if="!belong">About {{profile_user.u_name}}</h2>
              </div>
              <div class="tabbable">
                <ul class="nav nav-tabs">
                  <li class="active">
                    <a title="View own sketches" href="#Sketches" data-toggle="tab">Sketches</a>
                  </li>
                  <li>
                    <a title="View personal profile" href="#Profile" data-toggle="tab">Profile</a>
                  </li>
                  <li>
                    <a title="View group memberships" href="#Groups" data-toggle="tab">Groups</a>
                  </li>
                </ul>
                <div class="tab-content" id="main">
                  <!-- Sketches Pane -->
                  <div class="tab-pane active" id="Sketches">
                    <div class="row-fluid">
                      <div class="row-fluid">
                        <div class="span6">
                          <h2 ui-if="belong">My Sketches</h2>
                          <h2 ui-if="!belong">{{profile_user.u_name}}'s Sketches</h2>
                          <br/>
                          <div ui-if="!items.entities.length && belong" ng-cloak>
                            <span><em>You have no sketches. Why don't you create one?</em></span>
                          </div>
                          <div ui-if="!items.entities.length && !belong" ng-cloak>
                            <span><em>{{profile_user.u_name}} has no sketches at present.</em></span>
                          </div>
                        </div>
                        <div class="span6">
                          <button class="btn btn-info" style="float:right" ui-if="sketch_pagination.next_offset != 0" ng-click="paginate_forward()" ng-cloak>More Results</button>
                        </div>
                      </div>
                      <ul class="unstyled" ui-if="!!items.entities.length"  ng-cloak>
                        <li ng-repeat="files in items.entities | orderBy:predicate_users:reverse | filter:filter">
                          <div class="well well-small">
                            <div class="row-fluid">
                              <div class="span3">
                                <a href="view.html?id={{files.data.sketchId}}"  title="View this sketch">
                                  <img src="data:image/png;base64,{{files.data.thumbnailData}}" alt="Red dot" ui-if="!!files.data.thumbnailData">
                                  <div class="well well-small" ui-if="!files.data.thumbnailData">
                                    <span>No preview available</span>
                                  </div>
                                </a>
                              </div>
                              <div class="span9">
                                <div class="row-fluid">
                                  <div class="span6">
                                    <a href="view.html?id={{files.data.sketchId}}"  title="View this sketch">
                                      <h4>{{files.data.fileName}}</h4>
                                    </a>
                                  </div>
                                  <div class="span6">
                                    <span class="label">
                                      Likes: {{files.data.like}}
                                    </span>
                                    <span class="label">
                                      Comments: {{files.data.comment}}
                                    </span>
                                  </div>
                                </div>
                                <em>
                                  <span ui-if="files.data.changeDescription.length > 50" title="{{files.data.changeDescription}}" ng-cloak>
                                    {{files.data.changeDescription.substring(0, 49)}}...
                                  </span>
                                  <span ui-if="0 < files.data.changeDescription.length <= 50" ng-cloak>
                                    {{files.data.changeDescription}}
                                  </span>
                                  <span ui-if="files.data.changeDescription.length == 0" ng-cloak>
                                    No description given
                                  </span>
                                </em>
                                <br>
                                Created by 
                                <a href="profile.html?id={{files.data.owner_id}}" ui-if="files.data.owner_id != 0">{{files.data.owner}}</a>
                                <span ui-if="files.data.owner_id == 0">{{files.data.owner}}</span> 
                                on {{tzformat(files.created)}}
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                      <hr/>
                      <button class="btn btn-info" style="float:right" ui-if="sketch_pagination.next_offset != 0" ng-click="paginate_forward()" ng-cloak>More Results</button>
                    </div>                  
                  </div>       
                  
                  <!-- Profile Pane -->
                  <div class="tab-pane" id="Profile">
                    <div class="row-fluid">
                      <div class="row-fluid" ui-if="belong">
                        <div class="span6">
                          <h2>
                            My Profile
                            <span ui-if="!profile_user.u_isactive">  
                               (Inactive)
                            </span>
                          </h2>
                        </div>
                        <div class="span6">
                          <a style="float:right" class="btn btn-inverse btn-small" href="notifications.html" ui-if="belong">See My Notifications</a>
                        </div>
                      </div>
                      <h2 ui-if="!belong">
                        {{profile_user.u_name}}'s Profile
                        <span ui-if="!profile_user.u_isactive">  
                           (Inactive)
                        </span>
                      </h2>
                      <div class="span3">
                        <div class="well well-small">
                          <a href="http://gravatar.com/emails/" title="Change your avatar at gravatar.com" ui-if="belong"><img id="profile_img" src="https://secure.gravatar.com/avatar/{{profile_user.g_hash}}?s=200&r=pg&d=mm" /></a>                          
                          <img ui-if="!belong" id="profile_img" src="https://secure.gravatar.com/avatar/{{profile_user.g_hash}}?s=200&r=pg&d=mm" />
                        </div>
                      </div>
                      <div class="span8">
                        <div class="well well-small">
                          <div class="row-fluid">
                          <div class="span8">
                            <span style="font-weight:bold">Display Name:</span> {{profile_user.u_name}}<br>
                            <span style="font-weight:bold">Full Name:</span> {{profile_user.u_realname}}<br>
                          </div>
                          <div class="span4">
                            <button style="float:right" class="btn btn-inverse btn-small" data-toggle="modal" href="#EditProfile" ui-if="belong">Edit Profile</button> 
                          </div>
                          </div>
                          <hr ui-if="belong">
                          <span ui-if="belong" style="font-weight:bold">E-mail:</span> {{profile_user.u_email}}<br>
                          <span ui-if="belong" style="font-weight:bold">Date Created:</span> {{profile_user.u_created}}<br>
                          <span ui-if="belong" style="font-weight:bold">Last Login:</span> {{profile_user.u_lastlogin}}<br>
                          <span ui-if="belong" style="font-weight:bold">No. of Logins:</span> {{profile_user.u_logincount}}<br>
                          <span ui-if="belong && profile_user.u_changed > 0" style="font-weight:bold">No. of Profile Changes:</span> {{profile_user.u_changed}}<br>
                          <hr>
                          <span style="font-weight:bold">Account Type:</span> 
                          <span class="label label-important" ui-if="!!profile_user.u_isadmin" ng-cloak>
                            Administrator
                          </span>
                          <!-- <span ui-if="!!profile_user.u_isadmin && belong"> (<a title="Go to administrator console" href="console.html">Go to Console</a>)</span> -->
                          <span class="label label-success" ui-if="!profile_user.u_isadmin" ng-cloak>Ordinary User</span>
                        </div>
                      </div>
                      
                      <!--Edit Profile Modal-->
                      <div class="modal hide fade" id="EditProfile" style="display:none" ui-if="belong">
                        <div class="modal-header">
                          <input type="submit" class="close" value="x" data-dismiss="modal"/>
                          <h3 id="Login">Edit Profile</h3>
                        </div>
                        <div class="modal-body">
                          <div class="control-group">
                            <label class="control-label" for="DisplayName">Display Name</label>
                            <div class="controls">
                              <input type="text" ng-model="editprofilemeta.data.u_displayname"/>
                            </div>
                            <label class="control-label" for="RealName">Real Name</label>
                            <div class="controls">
                              <input type="text" ng-model="editprofilemeta.data.u_realname"/>
                            </div>
                            <div class="controls">
                              <input type="submit" ng-click="change_profile()" value="Submit" data-dismiss="modal"/>
                            </div>
                          </div>			
                        </div>
                        <div class="modal-footer"></div>
                      </div>
                    </div>                  
                  </div>
                  
                  <!-- Groups Pane -->
                  <div class="tab-pane" id="Groups">
                    <div class="row-fluid">
                      <div class="span10">
                        <h2 ui-if="belong">My Groups</h2>
                        <h2 ui-if="!belong">{{profile_user.u_name}}'s Groups</h2>
                      </div>
                      <div class="span2">
                        <button style="float:right" class="btn btn-inverse btn-small" data-toggle="modal" href="#NewGroup" ui-if="belong">Create New Group</button> 
                      </div>
                      <table class="table table-bordered table-striped"  ng-cloak>
                        <thead>
                          <th>Group Name</th>
                          <th>Role</th>
                        </thead>
                        <tbody>
                          <tr ng-repeat="group in groups.entities">
                            <td>
                              <a href="groups.html?id={{group.id}}">
                                {{group.data.group_name}}
                              </a>
                            </td>
                            <td>
                              {{group.data.role}}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      
                      <!--New Group Modal-->
                      <div class="modal hide fade" id="NewGroup" style="display:none" ui-if="belong">
                        <div class="modal-header">
                          <input type="submit" class="close" value="x" data-dismiss="modal"/>
                          <h3 id="Login">Create New Group</h3>
                        </div>
                        <div class="modal-body">
                          <div class="control-group">
                            <label class="control-label" for="UserName">Group Name</label>
                            <div class="controls">
                              <input type="text" ng-model="newgroup.data.group_name"/>
                            </div>
                            <div class="controls">
                              <input type="submit" ng-click="addgroup()" value="Submit" data-dismiss="modal"/>
                            </div>
                          </div>			
                        </div>
                        <div class="modal-footer"></div>
                      </div>
                    </div>                  
                  </div>
                </div>
              </div>

              
            </div>
          </div>
        </div><!--/span-->
      </div><!--/row-->
      
      <hr>
      
      <footer>
        <p>This page requires JavaScript and Adobe Flash Player, and is optimized for Mozilla Firefox and Google Chrome. &copy; Richard C. Davis 2013</p>
      </footer>
      
    </div><!--/.fluid-container-->
    
    
    <!-- Le javascript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery/jquery.js"></script>
    <script src="js/moment/moment.min.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular/angular-ui.min.js"></script>
    <script src="lib/angular/angular-resource.min.js"></script>
    <script src="js/angular/profile-controller.js"></script>
    <script src="js/app.js"></script>
    <script src="js/bootbox/bootbox.min.js"></script>
    <script src="js/bootstrap/bootstrap-transition.js"></script>
    <script src="js/bootstrap/bootstrap-alert.js"></script>
    <script src="js/bootstrap/bootstrap-modal.js"></script>
    <script src="js/bootstrap/bootstrap-dropdown.js"></script>
    <script src="js/bootstrap/bootstrap-scrollspy.js"></script>
    <script src="js/bootstrap/bootstrap-tab.js"></script>
    <script src="js/bootstrap/bootstrap-tooltip.js"></script>
    <script src="js/bootstrap/bootstrap-popover.js"></script>
    <script src="js/bootstrap/bootstrap-button.js"></script>
    <script src="js/bootstrap/bootstrap-collapse.js"></script>
    <script src="js/bootstrap/bootstrap-carousel.js"></script>
    <script src="js/bootstrap/bootstrap-typeahead.js"></script>
    
  </body>
</html>