<!DOCTYPE html>
<html ng-app="myApp" lang="en">
  <head>
    <meta charset="utf-8">
    <title>K-Sketch: The Kinetic Sketch Pad!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Google Analytics Code -->
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40422359-1', 'k-sketch-test.appspot.com');
      ga('send', 'pageview');

    </script>
    
    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    
    <!-- Additional styles for individual components -->
    <link href="css/additional.css" rel="stylesheet">
    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
    
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="ico/favicon.png">
    
    <!-- Code for K-Sketch App Plugin -->
    <!-- Enable Browser History by replacing useBrowserHistory tokens with two hyphens -->
    
    <!-- BEGIN Browser History required section -->
    <link rel="stylesheet" type="text/css" href="history/history.css" />
    <script type="text/javascript" src="history/history.js"></script>
    <!-- END Browser History required section -->  
    
  </head>
  
  <!-- body id="ksketchapp" ng-controller="LoginController" scrolling="no" -->
  <body ng-controller="RegisterController" id="ksketchapp"  scrolling="no">
    <!-- Loading -->      
    <div id="LoadingDiv" ui-if="waiting!='Ready'"></div>
    <div class="modal" id="Loading" ui-if="waiting=='Loading'">
      <div class="modal-body">
        <span>Loading........</span>
      </div>
    </div>  
    
    <!-- Top Bar -->
    <div id="topbar" class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid" ng-show="waiting=='Ready'" ng-cloak>
          <!-- a class="brand" id="logo" href="#"><img style="height:36px" src="ico/KSketch-logo.png"></a -->
          <a class="brand" id="logo" href="index.html">K-Sketch</a>
        </div>
      </div>
    </div>

    
    <!-- Main Body -->
    <div class="container-fluid" id="wrap">
        
      <div class="row-fluid" id="mainbody">
        
        <!-- Main Body -->
        <div>      
          <div class="hero-unit-sub">
            <p><h4>Register as a new Applicant</h4></p>

            <div ng-hide="parentalConsent" ng-cloak>
                Day
                <select ng-model="selectedDay" ng-options="day as day.date for day in days"></select>

                Month
                <select ng-model="selectedMonth" ng-options="month as month.date for month in months"></select>

                Year
                <input type="text" ng-model="selectedYear" ng-options="year as year.date for year in years"/>

                <button ng-click="calcAge(selectedMonth, selectedDay, selectedYear)">Register</button>
            </div>
            <p></p>
            {{message}} <br/>
            <div ng-show="parentalConsent" ng-cloak>
              <input type="text" ng-model="parentEmail"/>
              <button ng-click="addParentEmail(parentEmail)">Submit</button>
            </div>
            {{submessage}}

        </div><!--/span-->
        <div class="footer-table">
          <img src="img/footer_logo_small.png"/><br/>
                Copyright &copy; 2014 Singapore Management University. Developed under a grant from the Singapore-MIT GAMBIT Game Lab   <br/>
                <a href="about.html">About the Team</a> &nbsp;&nbsp;|&nbsp; &nbsp;
                <a href="faq.html">FAQ</a> &nbsp;&nbsp;|&nbsp; &nbsp;
                <a href="terms.html">Terms of Use</a> &nbsp;&nbsp;|&nbsp; &nbsp;
                <a href="policy.html">Privacy Policy</a>
        </div>
      </div><!--/row-->
    </div><!--/.fluid-container-->
    
    
    <!-- Le javascript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery/jquery.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="js/moment/moment.min.js"></script>
    <script src="lib/angular/angular-ui.min.js"></script>
    <script src="lib/angular/angular-resource.min.js"></script>
    <script src="js/angular/register-controller.js"></script>
    <script src="js/app.js"></script>
    <script src="js/bootbox/bootbox.min.js"></script>
    <script src="js/bootstrap/bootstrap-transition.js"></script>
    <script src="js/bootstrap/bootstrap-alert.js"></script>
    <script src="js/bootstrap/bootstrap-modal.js"></script>
    <script src="js/bootstrap/bootstrap-dropdown.js"></script>
    <script src="js/bootstrap/bootstrap-scrollspy.js"></script>
    <script src="js/bootstrap/bootstrap-tab.js"></script>
    <script src="js/bootstrap/bootstrap-tooltip.js"></script>
    <script src="js/bootstrap/bootstrap-popover.js"></script>
    <script src="js/bootstrap/bootstrap-button.js"></script>
    <script src="js/bootstrap/bootstrap-collapse.js"></script>
    <script src="js/bootstrap/bootstrap-carousel.js"></script>
    <script src="js/bootstrap/bootstrap-typeahead.js"></script>
    
  </body>
</html>