<!DOCTYPE html>
<html ng-app="myApp" lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta charset="utf-8">
    <title>K-Sketch: The Kinetic Sketch Pad!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Google Analytics Code -->
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40422359-1', 'k-sketch-test.appspot.com');
      ga('send', 'pageview');

    </script>    
    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    
    <!-- Additional styles for individual components -->
    <link href="css/additional.css" rel="stylesheet">
    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
    
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="ico/favicon.png">
    
    <!-- Code for K-Sketch App Plugin -->
    <!-- Enable Browser History by replacing useBrowserHistory tokens with two hyphens -->
    
    <!-- BEGIN Browser History required section -->
    <link rel="stylesheet" type="text/css" href="history/history.css" />
    <script type="text/javascript" src="history/history.js"></script>
    <!-- END Browser History required section -->  
    
    <script type="text/javascript" src="swf/swfobject.js"></script>
    
    <script type="text/javascript" src="js/janrain/janrain_widget.js"></script>
    <script type="text/javascript" src="js/common/notification.js"></script>
    
    <script type="text/javascript">
      window.onbeforeunload = function(){
        initSave();
        var status = false;
        e = document.getElementById('testdiv');
        scope = angular.element(e).scope();
        scope.$apply(function(){
          status = scope.getStatus();
        })
        if (status) {
          return "Warning - Navigating away from this page will remove all your unsaved progress.";
        }
      };
    </script>
    
    <!-- SWF Save/Load JS Code Go HERE! This was originally taken from "KSketchCallBacks.js". -->
        
    <script type="text/javascript">
      //Function to trigger a save procedure in the flash object
      //The flash object will call saveKSketchFile in return to pass the data from itself to javascript
      function QueryString() {
        // This function is anonymous, is executed immediately and 
        // the return value is assigned to QueryString!
        var query_string = {};
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i=0;i<vars.length;i++) {
          var pair = vars[i].split("=");
            // If first entry with this name
          if (typeof query_string[pair[0]] === "undefined") {
            query_string[pair[0]] = pair[1];
            // If second entry with this name
          } else if (typeof query_string[pair[0]] === "string") {
            var arr = [ query_string[pair[0]], pair[1] ];
            query_string[pair[0]] = arr;
            // If third or later entry with this name
          } else {
            query_string[pair[0]].push(pair[1]);
          }
        } 
        e = document.getElementById('testdiv');
        scope = angular.element(e).scope();
        if (query_string.id !== undefined && query_string.id !== "") {
          scope.$apply(function() {
              scope.setTest(query_string.id);
          });
          if (query_string.version !== undefined) {
            scope.$apply(function() {
                scope.setVersion(query_string.version);
            });
          }
          scope.$apply(function() {
              scope.get_sketch();
          });
        }        
      
      }
            
      function get_location() {
        e = document.getElementById('testdiv');
        scope = angular.element(e).scope();
        scope.$apply(function() {
            return scope.get_editor();
        });
      }
      
      function initSave() {
        var swfObject = document.getElementById('KSketch2_Web');
        if(typeof swfObject !='undefined'){
          swfObject.save();//change load
          
        }
        else
        {
          bootbox.alert('the swf object does not exist! Unable to save');
        }	
      } 
      
      //Function to trigger a save procedure in the flash object
      //The flash object will call saveKSketchFile in return to pass the data from itself to javascript	
      function saveKSketchFile(fileData) {
        
        e = document.getElementById('SaveAsSketch');
        scope = angular.element(e).scope();
        scope.$apply(function() {
          scope.setData(fileData);
        });	
      }
      
      
      //Clears the K-Sketch app to create a new file.
      function initNew() {
        
        bootbox.confirm("Do you wish to clear the canvas and create a new sketch?", function(newAlert) {
          if (newAlert === true) {
            e = document.getElementById('SaveAsSketch');
            scope = angular.element(e).scope();
            scope.$apply(function() {
              scope.setMeta("", 1, "", "", "");
              scope.setData("");
              scope.setPermissions(1, true, true, []);
            });	

            loadKSketchFile("");
          }
        });
      }
      
      //Function receives an xml string from anywhere
      //and asks the flash object to load it	
      function loadKSketchFile(fileData) {
        var swfObject = swfobject.getObjectById('KSketch2_Web');
        if(swfObject){
          var loading = true;
          while (loading) {
            try {
              //console.log('I exist!');
              swfObject.load(fileData);//change load
              loading = false;
            } catch (e) {
            }
          }
        }
        else
        {
          bootbox.alert('the swf object does not exist! Unable to load.');
        }	
      }
    </script>
    
    <!-- SWF Save/Load JS Code Go HERE! This was originally taken from "KSketchCallBacks.js". -->

    <script src="https://apis.google.com/js/client.js?onload=OnLoadCallback"></script>
    
    
  </head>
  
  <!-- body id="ksketchapp" ng-controller="LoginController" scrolling="no" -->
  <body ng-controller="SketchController" id="ksketchapp"  scrolling="no" onload="QueryString()">
    <!-- Loading -->
    
    <div id="LoadingDiv" ui-if="waiting!='Ready'"></div>
    <div class="modal" id="Loading" ui-if="waiting=='Loading'">
      <div class="modal-body">
        <span>Loading........</span>
      </div>
    </div>
    <div class="modal" id="Loading" ui-if="waiting=='Saving'" ng-cloak>
      <div class="modal-body">
        <span>Saving........</span>
      </div>
    </div>
    <div class="modal" id="Message" ui-if="waiting=='Error'" ng-cloak>
      <div class="modal-body">
        <div class="modal-header">
          <input type="submit" class="close" value="x" data-dismiss="modal" ng-click="acknowledge()"/>
          <h3 id="myUploadItems">{{heading}}</h3>
        </div>
        <br/>
        <div class="control-group">
          <div class="control-label">
            <span style="text-align:center">{{message}}</span>
            <br/>
            <br/>
            <span style="text-align:center">{{submessage}}</span>
            <br/>
            <br/>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <input type="submit"  ng-click="acknowledge()" value="Ok" data-dismiss="modal"/>
      </div>
    </div>        
  
    <!-- Top Bar -->
    <div id="topbar" class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid" ng-show="waiting=='Ready'" ng-cloak>
          <!-- a class="brand" id="logo" href="#"><img style="height:36px" src="ico/KSketch-logo.png"></a -->
          <a class="brand" id="logo" href=" index.html">K-Sketch</a>
          <ul class="nav" ng-cloak>
            <li>
              <!--Username and profile link goes here.-->
              <a ng-show="User.u_login" ng-cloak href="profile.html?id={{User.id}}" class="navbar-link">
                <span id="heading">
                  Hello, {{User.u_name}}
                  <span ui-if="User.u_isadmin"> (Admin)</span>
                  !
                </span>
              </a>
              <a ng-hide="User.u_login" ng-cloak id="heading" disabled>Hello, {{User.u_name}}!</a>
            </li>          
            <li ng-hide="User.u_login" ng-cloak>
              <a class="janrainEngage" href="#">Sign-In</a>
            </li>
            <li ng-show="User.u_login" ng-cloak>
              <a href="/user/logout">Logout</a>
            </li>           
            <li class="dropdown"  ui-if="User.u_login">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="{{notify}}">
<!--                 <b class="caret"></b> -->
                <i ng-class="notify_icon"></i>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a ui-if="!notifications.entities.length">
                  <span>You have no new notifications.</span>
                  </a>
                  <table class="table table-striped" ui-if="!!notifications.entities.length">
                    <tr ng-repeat="notification in notifications.entities |  limitTo:3">
                      <td>
                        <span>{{notification.n_date}}</span>
                      </td>
                      <td>
                        <span>{{notification.n_message}}</span>
                      </td>
                      <td ui-if="notification.n_type == 'GROUPINVITE'">
                        <ul>
                          <a class="btn btn-small" onClick="notifyAccept({{notification.id}},{{notification.n_relevant}})">Accept</a>
                        </ul>
                        <ul>
                          <a class="btn btn-small" onClick="notifyReject({{notification.id}},{{notification.n_relevant}})">Reject</a>
                        </ul>
                      </td>
                    </tr>
                  </table>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="notifications.html">
                    Show All Notifications
                  </a>
                </li>      
              </ul>              
            </li>
          </ul>           
          <p class="navbar-search pull-right">
            <input type="text" ng-model="search" onkeypress="searchKeyPress(event);" class="search-query" placeholder="Search by sketch name or owner">
            <input type="submit" id="searchbutton" class="btn btn-inverse btn-small" ng-click="simpleSearch()" value=">>">
            <script>
              function searchKeyPress(e)
              {
                  // look for window.event in case event isn't passed in
                  if (typeof e == 'undefined' && window.event) { e = window.event; }
                  if (e.keyCode == 13)
                  {
                      document.getElementById('searchbutton').click();
                  }
              }
            </script>
          </p>
        </div>
      </div>
    </div>
    
    
    <!-- Main Body -->
    <div class="container-fluid" id="wrap">
      <div class="row-fluid" id="mainbody">
        
        <!-- Navigation Sidebar (Access separate panes). -->
        <div class="span2">
          <div class="well sidebar-nav sidebar-nav-fixed">
            <ul class="nav nav-list">
              <!--This changes depending on current logged-in status.-->
              
              
              <li id="sc" ng-show="User.u_login" ng-cloak><a title="View personal profile, sketches and group memberships" href="profile.html?id={{User.id}}">My Sketchbook</a></li>
              <li id="cs" class="active"><a>Create a Sketch</a></li>
              <li class="nav-header"></li>
              <li>
                <span style="font-weight:bold">Note: To save your file, please use the black buttons on the top-right corner of the editor. The save/load icons within the editor do not work.</span>
              </li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        
        <!-- Main Body -->
        <div class="span10">
          <!-- Stuff goes here. -->
          <div class="row-fluid">
            <div class="row-fluid">
              <div class="span5">
                <div>
                  <span style="font-weight:bold" ng-hide="fileName==''" ng-cloak>
                  {{fileName}} (version {{version}}) by {{owner}}
                  </span>
                  <span style="font-weight:bold" ng-show="fileName==''" ng-cloak>
                  Untitled Sketch by {{User.u_name}}
                  </span>
                </div>
              </div>				
              <div class="span5" ng-cloak>
                <button class="btn btn-inverse btn-small" title="Clears editor to create new sketch" onclick="initNew()">New</button>
                <!-- Saving new version of loaded sketch (Edit) -->
                <button class="btn btn-inverse btn-small" title="Saves a new version of current sketch" onclick="initSave()" data-toggle="modal" href="#SaveSketch" ui-if="allow_save()"  ng-cloak>Save</button> 
                <!-- Saving current sketch as new sketch (Save As/Remix) -->
                <button class="btn btn-inverse btn-small" title="Saves (remixes) current sketch as a new sketch" onclick="initSave()" data-toggle="modal" href="#SaveAsSketch" ui-if="loaded_id != -1" >Save As</button>
                <!-- Saving new sketch (Save) -->
                <button class="btn btn-inverse btn-small" title="Saves new sketch" onclick="initSave()" data-toggle="modal" ui-if="loaded_id == -1" href="#SaveAsSketch">Save</button>
              </div>
              <div class="span2" >
                <a class="btn btn-info btn-small" style="float:right" title="Back to View" href="view.html?id={{loaded_id}}" ui-if="!!((loaded_id > 0))" ng-cloak>Back to View Mode</a>
                <button class="btn btn-info btn-small disabled" style="float:right" title="Back to View"  ui-if="!((loaded_id > 0))" ng-cloak>Back to View Mode</button>
              </div>
            </div>
            <span id="testdiv" ng-model="test"></span>
            
            <!-- Temporary Div to prevent clicking until proper editor is provided -->
            <div id="SketchCoverBarDiv"></div>
            
            <!-- Container for SWF Plugin - DO NOT REMOVE! -->
            
            <div id="swfcontainer">
              <div id="flashContent">
                <p>
                    To view this page ensure that Adobe Flash Player version 
                    10.2.0 or greater is installed. 
                </p>
                <script type="text/javascript"> 
                  var pageHost = ((document.location.protocol == "https:") ? "https://" : "http://"); 
                  document.write("<a href='http://www.adobe.com/go/getflashplayer'><img src='" 
                                 + pageHost + "www.adobe.com/images/shared/download_buttons/get_flash_player.gif' alt='Get Adobe Flash player' /></a>" ); 
                </script> 
              </div>
              <noscript>
                <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="100%" height="580" id="KSketch2_Web.swf">
                  <param name="movie" value="swf/v2/KSketch2_Web.swf" />
                  <param name="quality" value="high" />
                  <param name="bgcolor" value="#ffffff" />
                  <param name="allowScriptAccess" value="always" />
                  <param name="allowFullScreen" value="true" />
                  <!--[if !IE]>-->
                  <object type="application/x-shockwave-flash" width="100%" height="580" data="swf/v2/KSketch2_Web.swf">
                    <param name="quality" value="high" />
                    <param name="bgcolor" value="#ffffff" />
                    <param name="allowScriptAccess" value="always" />
                    <param name="allowFullScreen" value="true" />
                    <!--<![endif]-->
                    <!--[if gte IE 6]>-->
                    <p> 
                      Either scripts and active content are not permitted to run or Adobe Flash Player version
                      10.2.0 or greater is not installed.
                    </p>
                    <!--<![endif]-->
                    <a href="http://www.adobe.com/go/getflashplayer">
                      <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash Player" />
                    </a>
                    <!--[if !IE]>-->
                  </object>
                  <!--<![endif]-->
                </object>
              </noscript>
            </div>
            <br>
            <span class="label" style="float:right" ng-cloak>Editor v.{{User.u_version.toFixed(1)}}</span>
            
            <!-- Dialog Box for Save functionality (saving new version of existing file). -->
            
            <div class="modal hide fade in" id="SaveSketch" style="display:none" ng-show="allow_save()">
              <div class="modal-header">
                <input type="submit" class="close" value="x" data-dismiss="modal"/>
                <h3 id="myUploadItems">Save Sketch</h3>
              </div>
              <div class="modal-body">
                <div class="row-fluid">
                  <div class="span5">
                    <div class="control-group">
                      <label class="control-label" for="sketchName">Sketch Name</label>
                      <div class="controls">
                        <span id="sketchName">{{fileName}}</span>
                      </div>
                      <div class="controls">  
                        <div class="well well-small" id="sketchDisplay">
                          <img src="data:image/png;base64,{{thumbnailData}}" alt="Red dot" ui-if="!!thumbnailData">
                          <span ui-if="!thumbnailData">
                            No preview available
                          </span>
                        </div>
                      </div>
                      <label class="control-label" for="sketchDesc">Enter a description for this change (optional; max 255 characters)</label>
                      <div class="controls">
                        <textarea ng-model="changeDescription" id="sketchDescription" maxlength="255"></textarea>
                      </div>
                    </div>
                  </div>
                 
                  <!-- PERMISSIONS -->
                  <div class="span6 offset1" id="permissions" ng-show="User.u_login">
                    <!-- Public -->
                    <div class="well well-small" ng-show="User.id == owner_id || User.u_isadmin == true">
                      <div id="group_permissions">
                        <div class="control-group">
                          <label class="control-label" for="sketchView" style="font-weight:bold">Public Permissions</label>
                          <label class="control-label">Allow Public Access?</label>
                          <div class="controls">
                            <input type="radio" ng-model="permissions.p_view" value="0" ng-change="changePermissions(permissions.p_view)"/>No<br/>
                            <input type="radio"  ng-model="permissions.p_view" value="1" ng-change="changePermissions(permissions.p_view)"/>Yes
                            
                            <input type="checkbox" ng-model="permissions.p_edit" ng-disabled="permissions.p_view != 1"/>Allow Edits
                            <input type="checkbox" ng-model="permissions.p_comment" ng-disabled="permissions.p_view != 1"/>Allow Comments<br/>
                          </div>
                        </div>
                        <hr/>
                        <!-- Group -->
                        <div class="control-group">
                          <label class="control-label" for="sketchView" style="font-weight:bold">Assign to Group(s)</label>

                          <label class="control-label">Select a Group that you belong to:</label>
                          <div class="controls">
                            <select ng-model="group_data" ng-options="group as group.data.group_name for group in groups.entities" ng-cloak></select> <br/>
                            <input type="checkbox" ng-model="group_data.edit" ng-disabled="!group_data"/>Allow Edits
                            <input type="checkbox" ng-model="group_data.comment" ng-disabled="!group_data"/>Allow Comments<br/><br/>
                            <table>
                              <tr>
                                <td>
                                  <button class="btn btn-small" ng-click="addgroupperm()">Add</button>
                                </td>
                                <td>
                                  {{added}}
                                </td>
                              </tr>
                            </table>
                            <ul ng-repeat="g_p in permissions.group_permissions">
                              <li>
                                {{g_p.data.group_name}} - (Can view
                                <span ui-if="g_p.edit">, edit</span>
                                <span ui-if="g_p.comment">, comment</span>)
                                <button ng-click="removegroupperm(g_p)">Remove</button>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="well well-small" ng-show="User.id != owner_id && User.u_isadmin != true">
                      <p>Only the sketch's owner (<a href="profile.html?id={{owner_id}}">{{owner}}</a>) may modify its permissions.</p>
                      <p>You may still save this sketch as a new sketch.</p>
                    </div>
                  </div>
                  <!-- PERMISSIONS -->
                  
                </div>
                <div class="row-fluid">
                  <div class="control-group">
                    <div class="controls">
                      <input type="submit" ng-click="save()" value="Submit" data-dismiss="modal"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <!-- Dialog Box for Save As functionality (saving brand new file/saving as different file). -->
            
            <div class="modal hide fade in" id="SaveAsSketch" style="display:none">
              <div class="modal-header">
                <input type="submit" class="close" value="x" data-dismiss="modal"/>
                <h3 ui-if="loaded_id != -1" id="myUploadItems">Save As Sketch</h3>
                <h3 ui-if="loaded_id == -1" id="myUploadItems">Save New Sketch</h3>
              </div>
              <div class="modal-body">
                <div class="row-fluid">
                  <div class="span5">
                    <div class="control-group">
                      <label class="control-label" for="sketchName" style="font-weight:bold">Sketch Name</label>
                      <div class="controls">
                        <input type="text" ng-model="tempFileName" id="sketchName"/>
                      </div>
                      <div class="controls">
                        <div class="well well-small" id="sketchDisplay">
                          <img src="data:image/png;base64,{{thumbnailData}}" alt="Red dot" ui-if="!!thumbnailData">
                          <span ui-if="!thumbnailData">
                            No preview available
                          </span>
                        </div>
                      </div>
                      <label class="control-label" for="sketchDesc" style="font-weight:bold">Enter a description for this change (optional; max 255 characters)</label>
                      <div class="controls">
                        <textarea ng-model="changeDescription" id="sketchDescription" maxlength="255"></textarea>
                      </div>
                    </div>
                  </div>
                  
                  <!-- PERMISSIONS -->
                  <div class="span6 offset1" id="permissions" ng-show="User.u_login">
                    <!-- Public -->
                    <div class="well well-small">
                      <div id="group_permissions">
                        <div class="control-group">
                          <label class="control-label" for="sketchView" style="font-weight:bold">Public Permissions</label>
                          <label class="control-label">Allow Public Access?</label>
                          <div class="controls">
                            <input type="radio" ng-model="permissions.p_view" value="0" ng-change="changePermissions(permissions.p_view)"/>No<br/>
                            <input type="radio"  ng-model="permissions.p_view" value="1" ng-change="changePermissions(permissions.p_view)"/>Yes
                            
                            <input type="checkbox" ng-model="permissions.p_edit" ng-disabled="permissions.p_view != 1"/>Allow Edits
                            <input type="checkbox" ng-model="permissions.p_comment" ng-disabled="permissions.p_view != 1"/>Allow Comments<br/>
                          </div>
                        </div>
                        <hr/>
                        <!-- Group -->
                        <div class="control-group">
                          <label class="control-label" for="sketchView" style="font-weight:bold">Assign to Group(s)</label>
                          <label class="control-label">Select a Group that you belong to:</label>
                          <div class="controls">
                            <select ng-model="group_data" ng-options="group as group.data.group_name for group in groups.entities" ng-cloak></select> <br/>
                            <input type="checkbox" ng-model="group_data.edit" ng-disabled="!group_data"/>Allow Edits
                            <input type="checkbox" ng-model="group_data.comment" ng-disabled="!group_data"/>Allow Comments<br/><br/>
                            <table>
                              <tr>
                                <td>
                                  <button class="btn btn-small" ng-click="addgroupperm()">Add</button>
                                </td>
                                <td>
                                  {{added}}
                                </td>
                              </tr>
                            </table>
                            <ul ng-repeat="g_p in permissions.group_permissions">
                              <li>
                                {{g_p.data.group_name}} - (Can view
                                <span ui-if="g_p.edit">, edit</span>
                                <span ui-if="g_p.comment">, comment</span>)
                                <button ng-click="removegroupperm(g_p)">Remove</button>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- PERMISSIONS -->
                  
                </div>
                <div class="row-fluid">
                  <div class="control-group">
                    <div class="controls">
                      <input type="submit" ng-disabled="tempFileName.trim() == ''" ng-click="saveAs()" value="Submit" data-dismiss="modal"/>
                    </div>
                  </div>	        
                </div>                  
              </div>							
            </div>
          </div>
        </div><!--/span-->
      </div><!--/row-->
      
      <hr>
      
      <footer>
        <p>This page requires JavaScript and Adobe Flash Player, and is optimized for Mozilla Firefox and Google Chrome. &copy; Richard C. Davis 2013</p>
      </footer>
      
    </div><!--/.fluid-container-->
    
    
    <!-- Le javascript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery/jquery.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    
        
    <!-- JS code for SWF plugin. DO NOT REMOVE. -->
    
    <script type="text/javascript">
      //var player_location = get_location();
      var editor_location = "swf/v2/KSketch2_Web.swf";
      // For version detection, set to min. required Flash Player version, or 0 (or 0.0.0), for no version detection. 
      //var swfVersionStr = "11.1.0";
      var swfVersionStr = "10.2.0";
      // To use express install, set to playerProductInstall.swf, otherwise the empty string. 
      var xiSwfUrlStr = "swf/playerProductInstall.swf";
      var flashvars = {};
      var params = {};
      params.quality = "high";
      params.bgcolor = "#ffffff";
      params.allowscriptaccess = "sameDomain";
      params.allowfullscreen = "true";
      var attributes = {};
      attributes.id = "KSketch2_Web";
      attributes.name = "KSketch2_Web";
      attributes.align = "middle";
      swfobject.embedSWF(
        editor_location, "flashContent", 
        "100%", "580", 
        swfVersionStr, xiSwfUrlStr, 
        flashvars, params, attributes);
      // JavaScript enabled so display the flashContent div in case it is not replaced with a swf object.
      swfobject.createCSS("#flashContent", "display:block;text-align:left;border:1px solid black;padding:1px");
    </script>
    
    <!-- JS code for SWF plugin. DO NOT REMOVE. -->
    
    <script src="js/moment/moment.min.js"></script>
    <script src="lib/angular/angular-ui.min.js"></script>
    <script src="lib/angular/angular-resource.min.js"></script>
    <script src="js/angular/sketch-controller.js"></script>
    <script src="js/app.js"></script>
    <script src="js/bootbox/bootbox.min.js"></script>
    <script src="js/bootstrap/bootstrap-transition.js"></script>
    <script src="js/bootstrap/bootstrap-alert.js"></script>
    <script src="js/bootstrap/bootstrap-modal.js"></script>
    <script src="js/bootstrap/bootstrap-dropdown.js"></script>
    <script src="js/bootstrap/bootstrap-scrollspy.js"></script>
    <script src="js/bootstrap/bootstrap-tab.js"></script>
    <script src="js/bootstrap/bootstrap-tooltip.js"></script>
    <script src="js/bootstrap/bootstrap-popover.js"></script>
    <script src="js/bootstrap/bootstrap-button.js"></script>
    <script src="js/bootstrap/bootstrap-collapse.js"></script>
    <script src="js/bootstrap/bootstrap-carousel.js"></script>
    <script src="js/bootstrap/bootstrap-typeahead.js"></script>
    
  </body>
</html>